&__content {
  &__title {
    font-size: 50px;
    font-weight: bold;
    color: #101b31;
    line-height: 1;
    text-align: center;
    position: relative;
    & span {
      color: #f4532c;
    }
  }
}