.admin {
  &__title {  }
  &__top {
    position: relative;
    margin-bottom: 50px;
    padding: 60px 8.7% 0;
    &__btn {
      position: absolute;
      top: 78px;
      right: 8.7%;
    }
    &__title {

    }
    &__title__mini {
      margin-bottom: 10px;
    }
    &__text {
      color: #686a6e;
      font-size: .9em;
      line-height: 1.2em;
      margin-bottom: 12px;
      font-weight: 400;
    }
  }
  &__list {
    position: relative;
    display: table;
    width: 100%;
    .item {
      display: table-row;
      &__cell {
        @extend .col;
        display: table-cell;
        float: none;
        &:first-child {
          padding-left: 80px;
        }
        &:last-child {
          padding-right: 80px;
        }
        &__wrap {
          padding: 10px 10px;
        }
      }
      &__name {
      }
    }
  }
  &__edit {
    padding: 0 8.7%;
    &__row {
      margin-bottom: 18px;
      &__left,
      &__right {
        @extend .col-12;
      }
      &_img {
        @extend .row;
        .admin__edit__row__left {
          @extend .col-6;
        }
        .admin__edit__row__right {
          @extend .col-18;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
    &__name {
      display: block;
      margin: 0 0 6px;
      font-weight: bold;
      font-size: 15px;
    }
    &__description {
      color: #686a6e;
      font-size: .9em;
      line-height: 1.3em;
      margin-bottom: 12px;
      font-weight: 400;
    }
  }
  &__user{
    &__login {
      background: #ffffff;
      height: 100vh;
      text-align: center;
      padding: 20% 0;

      &__wrap {
        max-width: 400px;
        margin: auto;
      }
      & .form {
        width: 250px;
        margin: auto;
      }
    }
  }
}