.admin {
  &__title {}
  &__top {
    position: relative;
    margin-bottom: 50px;
    padding: 60px 8.7% 0;
    &__btn {
      position: absolute;
      top: 78px;
      right: 8.7%;
    }
    &__title {

    }
    &__title__mini {
      margin-bottom: 10px;
    }
    &__text {
      color: #686a6e;
      font-size: .9em;
      line-height: 1.2em;
      margin-bottom: 12px;
      font-weight: 400;
    }
  }
  &__list {
    position: relative;
    display: table;
    width: 100%;
    .item {
      display: table-row;
      &__cell {
        @extend .col;
        display: table-cell;
        float: none;
        &:first-child {
          padding-left: 80px;
        }
        &:last-child {
          padding-right: 80px;
        }
        &__wrap {
          padding: 10px 10px;
        }
      }
      &__name {
      }
    }
  }
  &__edit {
    padding: 0 8.7%;
    &__row {
      margin-bottom: 18px;
      &__left,
      &__right {
        @extend .col-12;
      }
      &_img {
        @extend .row;
        .admin__edit__row__left {
          @extend .col-6;
        }
        .admin__edit__row__right {
          @extend .col-18;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
    &__name {
      display: block;
      margin: 0 0 6px;
      font-weight: bold;
      font-size: 15px;
    }
    &__description {
      color: #686a6e;
      font-size: .9em;
      line-height: 1.3em;
      margin-bottom: 12px;
      font-weight: 400;
    }
  }
  &__user{
    &__login {
      background: #ffffff;
      height: 100vh;
      text-align: center;
      padding: 20% 0;

      &__wrap {
        max-width: 400px;
        margin: auto;
      }
      & .form {
        width: 250px;
        margin: auto;
      }
    }
  }
}

.sh-{
  // sh-form
  &form {
    &__field {
      position: relative;
      width: 100%;
      margin-bottom: 18px;
      &__row {
        @extend .row;
        @extend .row-table;
        &__left,
        &__right {
          @extend .col;
          vertical-align: top;
        }
        &__right {
          width: 100%!important;
        }
      }
      &__name {
        margin: 6px 0 3px;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
  // sh-input
  &input {
    position: relative;
    &__control {
      display: block;
      width: 100%;
      height: 36px;
      background-clip: padding-box;
      outline: none;

      background: #fff;
      padding: 18px 18px;
      font-size: 14px;
      color: #2c2e32;
      border: 2px solid #e0e2e6;
      border-radius: 10px;
      @include border-radius(5px);
      @include transition(0.3,ease-in-out);

      -webkit-box-shadow: none;
      box-shadow: none;
    }
    &__log {
      position: absolute;
      bottom: -13px;
      left: 15px;
      background: #fafafc;
      margin-bottom: 5px;
      padding: 0 5px;
      line-height: 15px;
      clear: both;
      float: left;
      color: #ff4b4b;
      font-size: 12px;
      font-weight: bold;
    }
    &__icon {
      position: absolute;
      top: 9px;
      right: 10px;
      font-size: 20px;
      color: #ff4b4b;
    }
    // Свойства
    &_code {
      & .sh-input__control {
        border: 0;
        border-radius: 0;
        font-weight: bold;
        color: #a10cbe;
      }
    }
    &_field {
      margin-bottom: 7px;
      & .sh-input__control {
        border: 0;
        border-radius: 0;
        font-weight: bold;
      }
    }
  }
  // sh-text
  &textarea{
    @extend .sh-input;
    &__control {
      @extend .sh-input__control;
      height: 100px;
    }
  }
  // sh-checkbox
  &checkbox {
    position:relative;
    &__name {
      float:right;
    }
    &__control {
      display: none;
      &[type=checkbox]:checked + label{
        background:#22c380;
      }
      &[type=checkbox]:checked + label:before{
        left:20px;
        background: #ffffff;
      }
    }
    &__label {
      width:40px;
      height:24px;
      box-sizing:border-box;
      float:left;
      border-radius:100px;
      position:relative;
      cursor:pointer;
      transition:.3s ease;
      background-color: #e0e2e6;
      &:before{
        transition:.3s ease;
        content:'';
        left: 3px;
        top: 4px;
        width: 16px;
        height: 16px;
        position:absolute;
        background: #a4a6aa;
        box-sizing:border-box;
        color:black;
        border-radius:100px;
      }
    }
  }
}