&__table {
  display: table;
  width: 100%;
  &__row {
    display: table-row;
    width: 100%;
    border: 1px solid rgba(237,239,242,.5);
  }
  &__cell {
    display: table-cell;
    width: auto;
    vertical-align: middle;
    padding: 10px;
    font-size: 13px;
    border: 1px solid rgba(237,239,242,.5);
  }

  &__top {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background: #f7f8f9;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
  }
}